body {
    background: linear-gradient(to right, #ff758c, #ff7eb3);
    font-family: 'Segoe UI', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.card {
    background: white;
    padding: 30px;
    border-radius: 15px;
    width: 90%;
    max-width: 400px;
    text-align: center;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

h1 {
    color: #ff4d6d;
}

h2, h3 {
    color: #444;
}

p {
    font-size: 16px;
    color: #555;
    line-height: 1.6;
}

.heart {
    font-size: 30px;
}
